<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap" rel="stylesheet"> 
    <title>SerraJR</title>
</head>
<body>

    <div class="main">

        <div class="card">

            <div class="card-titulo">
                <h5>Squad</h5>
            </div>
    

            <div class="squad">

                <div class="squad-titulo">
                    <h5>
                        Nome:
                    </h5>
                </div>

                <div class="squad-nome">
                    <span>
                        Loucos por Carros
                    </span>
                </div>

            </div>
    
            <div class="lider">
                <div class="lider-titulo">
                    <h5>
                        Líder:
                    </h5>
                </div>
                <div class="lider-nome">
                    <span>
                        Guilherme Fialho
                    </span>
                </div>
            </div>
    
            <div class="integrantes">
                <div class="integrantes-titulo">
                    <h5>Integrantes:</h5>
                </div>
                
                <div class="integrantes-list">
                    <ul>
                        <li>
                            <span>
                                Guilherme Fialho
                            </span>
                        </li>
                        <li>
                            <span>
                                João Matheus Ramos
                            </span>
                        </li>
                        <li>
                            <span>
                                Júlya Matias
                            </span>
                        </li>
                        <li>
                            <span>
                                Thiago Paixão
                            </span>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>

    </div>
</body>
</html>