<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap" rel="stylesheet"> 
    <title>SerraJR</title>
</head>
<body>

    <div id="main">

        <div id="container">

            <div id="containerTitulo">
                <h5>Squad</h5>
            </div>
    
            <div id="divisor"></div>

            <div id="squad">

                <div id="squadTitulo">
                    <h5>
                        Nome:
                    </h5>
                </div>

                <div id="squadNome">
                    <span>
                        Loucos por Carros
                    </span>
                </div>

            </div>
    
            <div id="lider">
                <div id="liderTitulo">
                    <h5>
                        Lider:
                    </h5>
                </div>
                <div id="liderNome">
                    <span>
                        Guilherme Fialho
                    </span>
                </div>
            </div>
    
            <div id="integrantes">
                <div id="integrantesTitulo">
                    <h5>Integrantes:</h5>
                </div>
                
                <div id="integrantesList">
                    <ul>
                        <li>
                            <span>
                                Guilherme Fialho
                            </span>
                        </li>
                        <li>
                            <span>
                                João Matheus Ramos
                            </span>
                        </li>
                        <li>
                            <span>
                                Júlya Matias
                            </span>
                        </li>
                        <li>
                            <span>
                                Thiago Paixão
                            </span>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>

    </div>
</body>
</html>