<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Magra&display=swap" rel="stylesheet"> 
    <title>SerraJR</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <div class="form">
                
                <div class="form-titulo">
                    <h5>
                        Cadastro
                    </h5>
                </div>
                <div class="form-input">
                    <input id="user" type="text" placeholder="Nome">
                </div>
                <div class="form-input">
                    <input id="password" type="text" placeholder="Senha">
                </div>
                <div class="form-input">
                    <input id="retryPassword" type="text" placeholder="Confirmar Senha">
                </div>
                <div class="botao">
                    <button onclick="Login()">
                        <span>
                            Entrar
                        </span>
                    </button>
                    <script src="../static/js/script.js"></script>
                </div>
            </div>

        </div>
    </div>
</body>
</html>