<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap" rel="stylesheet"> 
    <title>SerraJR</title>
</head>
<body>
    
    <header id="header">
        <div id="headerItems">
            <div id="headerTitulo">
                <h5>Loucos por Carros</h5>
            </div>
        </div>
    </header>

    <div id="main">
        <div id="container">
            <div class="membros">
                <div class="membrosTitulo">
                    <h5>
                        Guilherme
                    </h5>
                </div>
                <div class="membrosIdade">
                    <span>
                        Idade: 18
                    </span>
                </div>
                <div class="membrosTime">
                    <span>
                        Time: Fluminense
                    </span>
                </div>
                <div class="membrosSobrenome">
                    <span>
                        Sobrenome: Fialho
                    </span>
                </div>
            </div>
            <div class="membros">
                <div class="membrosTitulo">
                    <h5>
                        João
                    </h5>
                </div>
                <div class="membrosIdade">
                    <span>
                        Idade: 19
                    </span>
                </div>
                <div class="membrosTime">
                    <span>
                        Time: Flamengo
                    </span>
                </div>
                <div class="membrosSobrenome">
                    <span>
                        Sobrenome: Matheus
                    </span>
                </div>
            </div>
            <div class="membros">
                <div class="membrosTitulo">
                    <h5>
                        Júlya
                    </h5>
                </div>
                <div class="membrosIdade">
                    <span>
                        Idade: 19
                    </span>
                </div>
                <div class="membrosTime">
                    <span>
                        Time: Flamengo
                    </span>
                </div>
                <div class="membrosSobrenome">
                    <span>
                        Sobrenome: Matias
                    </span>
                </div>
            </div>
            <div class="membros">
                <div class="membrosTitulo">
                    <h5>
                        Thiago
                    </h5>
                </div>
                <div class="membrosIdade">
                    <span>
                        Idade: 19
                    </span>
                </div>
                <div class="membrosTime">
                    <span>
                        Time: Fluminense
                    </span>
                </div>
                <div class="membrosSobrenome">
                    <span>
                        Sobrenome: Paixão
                    </span>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div id="footerItems">
            <div id="footerTitulo">
                <span>
                    COPYRIGHT © 2021 - SERRA JUNIOR ENGENHARIA
                </span>
            </div>
        </div>
    </footer>

</body>
</html>