body{
    margin: 0;
}

h4{
    margin: 0;
}

.main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    font-family: 'Magra', sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-titulo{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 36px;
}


.card-titulo span{
    margin-left: 5px;
    position: relative;
    bottom: 5px;
}

.botao button{
    border-radius: 4px;
    background-color: #993399;
    width: 314px;
    height: 86px;
    border: none;
    font-size: 36px;
    color: white;
}

.botao button h5{
    margin: auto;
}