body, h1{
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-family: "Magra";
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 32px;
    width: 690px;
    height: 400px;
    background: linear-gradient(270deg,#0f0c14,#121214);
    border-radius: 10px;
    transition: all 1s linear;
}

.card:hover{
    scale: 1.05;
}


.card-titulo{
    padding: 35px 0;
    font-size: 26px;
}

.card-inputs{
    display: flex;
    width: 594px;
    height: 142px;
    margin: 10px;
}

.card-inputs input{
    font-size: 26px;
    width: 100%;
    height: 100%;
    padding: 0 25px;
}


.card-button{
    margin: 10px;
    width: 594px;
    height:100px;
    padding-bottom: 10px;
}

.card-button:hover{
    filter: brightness(80%);
}

.card-button button{
    width: 100%;
    height: 100%;
    background-color: #993399;
    border: none;
    color: white;
    font-size: 26px;
}

.boxes{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.boxes ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 130%;
    margin-left: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}