body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h5{
    margin: 0
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: 'Magra', sans-serif;
    
}

#main span, #main h5{
    color: white;
}

#container{
    display: flex;
    flex-direction: column;
    width: 573px;
    height: 564px;
    background-color: #993399;
}

#containerTitulo{
    text-align: center;
    padding: 30px;
    font-size: 48px;
}

#divisor{
    border: 1px solid white;
}

#squad{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}


#lider{
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
}

#squadTitulo, #liderTitulo{
    margin-left: 50px;
    width: 20%;
    font-size: 36px;
}

#squadNome, #liderNome{
    text-align: center;
    width: 45%;
    font-size: 27px;
}

#integrantes{
    display: flex;
    flex-direction: column;
}

#integrantesTitulo{
    margin-left: 50px;
    width: 50%;
    font-size: 36px;
}

#integrantesList{
    padding-top: 10px;
    font-size: 27px;
}

#integrantesList ul{
    text-align: center;
}

